fastapi~=0.95.1
pydantic~=1.10.7
uvicorn~=0.21.1
pandas~=1.5.3
panel~=0.14.4
hvplot~=0.8.3
scikit-learn~=1.2.2
xgboost~=1.7.5
pytest~=7.1.2
numpy~=1.24.2
httpx~=0.24.0
psutil~=5.9.5

django~=4.2.1
django-adminlte3
django-bootstrap4
django-plotly-dash
djangorestframework
django-markdownify
django-ckeditor
django-redis

dpd-static-support

whitenoise
requests
pillow

matplotlib
pymongo